.feature-box {
	background-color: rgba($color-white,.8);
	padding: 2.5rem;
	font-size: 1.6rem;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0 1.5rem 4rem rgba($color-black,0.25);
	transition: all .2s;
	z-index: 1;
	@include respond(tab-port){
		padding: 2rem;
	}
	&_icon {
		font-size: 6rem;
		margin-bottom:.5rem;
		background-image: linear-gradient(to right,rgba($color-primary-light,.8),
			rgba($color-primary-dark,.8));
		-webkit-background-clip:text;
		color: transparent;
		@include respond(tab-port){
			margin-bottom: 0;
	    }
	}
	&_text {

	}
	&:hover {
	 transform: translateY(-1rem) scale(1.05);
	 z-index: 20;
	}
}